// _base.scss
@use '../abstracts/variables' as *;

html {
  margin: 0;
  height: 100%;
}

body {
  background-color: $d4;
  font-family: $text;
  padding: 0;
  margin: 0;
  color: $l1;
  min-height: 100%;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  // Espace réservé pour la navbar fixe en bas
  padding-bottom: 12vh;
  box-sizing: border-box;
}

* {
  font-weight: 700;
}
