@use '../abstracts/variables';

.card {
  background-color:variables.$d3;
  border-radius: 2vh;
  margin-bottom: 2vh;
  padding: 2vh;
  text-align: left;

  h2, p {
    margin: 0;
  }

  h2 {
    font-size: variables.$body;
  }

  p {
    font-size: variables.$subbody;
    color: variables.$l5;
  }

  &:nth-child(2) {
    height: 25vh;
  }
}