


$bg-dark: #242933;      // Le fond de la page
$card-bg: #3b4252;      // Le gris des blocs/cartes
$white: #ffffff;

// Couleurs d'accentuation
$primary-orange: #ff6b4a; // Le bouton déconnexion
$divider-white: rgba(255, 255, 255, 0.3);

// Tailles et espacements (optionnel mais propre)
$radius-card: 12px;
$radius-btn: 15px;

$subtitle: 'rounded M+ 1c';
