@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as mixins;

.connexion {
  font-family: $text;
  min-height: 100vh;
  padding: 2vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @each $el in $text-elements {
  #{$el} {
    font-weight: normal;
  }
  }

  h1{
    text-align: center;
    font-size: $subtitle;
    font-weight: bold;
  }








  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }


  .form {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .input-wrapper {
      position: relative;
      display: flex;
      align-items: center;

      .input {
        width: 100%;
        background-color: $d3;
        border: 0.2vh solid $d2;
        border-radius: 2vh;
        padding: 2vh;
        font-family: $text;
        font-size: $body;
        color: $l1;
        outline: none;
        box-sizing: border-box;
        &::placeholder {
          color: $d1;
        }
        &:focus {
          border-color: $l5;
        }
      }

      .toggle-password {
        display: none;
      }
    }

    .error {
      color: $c1;
      font-size: $subbody;
      margin: 0;
    }


    .forgot {
      display: flex;
      justify-content: flex-end;
      p{
        font-size: $body;
        color: $l1;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }


// ------------------------------------------------------------------------------

  .span {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 4px 0;

    &-line {
      flex: 1;
      height: 0.5px;
      background-color: $c1;
    }

    &-text {
      font-size: $body;
      color: $l1;
      white-space: nowrap;
      font-weight: normal;
    }
  }

    .social-icon {
      display: none;
      width: 20px;
      height: 20px;
    }

  .button2{
    background-color: transparent;
    border: 1px solid $c1;
  }
}

