// Couleurs

$d5: #0A0F15;
$d4: #222631;
$d3: #373E4E;
$d1: #657084;

$l1: #ffffff;
$l5: #8792A4;

$c1: #F96750;
$c2: #F6D6D6;

//Espacements
$page: 5%;

//Textes
$title: 40px;
$subtitle: 2vh;
$body: 2vh;
$button: 18px;
$subbody: 14px;
$fantasy: 40px;

$text: "M PLUS Rounded 1c", sans-serif;
$fantasy: "Righteous", sans-serif;



