// Couleurs

$d5: #0A0F15;
$d4: #222631;
$d3: #373E4E;
$d2: #4E5669;
$d1: #657084;

$l1: #ffffff;
$l5: #8792A4;

$c1: #F96750;
$c2: #df4830;

//Espacements
$page: 5%;

//Textes
$title: 40px;
$subtitle: 27px;
$body: 16px;
$button: 18px;
$subbody: 14px;
$fantasy: 40px;

$text: "M PLUS Rounded 1c", sans-serif;
$fantasy: "Righteous", sans-serif;

//Autre
$text-elements: h1, h2, p, input;


