body {
  background-color: #222631;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

* {
  font-weight: 700;
}

footer {
  background-color: #373E4E;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

header {
  text-transform: capitalize;
  font-size: 2vh;
  background-color: #373E4E;
  margin: 0 0 1vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 10vh;
  padding: 0 2vh;
}
header h1 {
  margin: 0;
  text-align: center;
  flex: 1;
}
header .retour {
  margin-right: auto;
}

.accueil {
  text-align: center;
  padding: 2vh;
}
.accueil h1 {
  display: none;
}

.card {
  background-color: #373E4E;
  border-radius: 2vh;
  margin-bottom: 2vh;
  padding: 2vh;
  text-align: left;
}
.card h2, .card p {
  margin: 0;
}
.card h2 {
  font-size: 2vh;
}
.card p {
  font-size: 14px;
  color: #8792A4;
}

.card:nth-child(2) {
  height: 25vh;
}

.btn {
  all: unset;
  display: block;
  color: #fff;
  background-color: #F96750;
  border-radius: 1vh;
  padding: 1.5vh;
}

.step1 {
  background-color: #373E4E;
  margin: 2vh;
  padding: 3vh;
  border-radius: 2vh;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.step1 .choices {
  display: flex;
  flex-direction: column;
}
.step1 .choices button {
  display: flex;
  background-color: #373E4E;
  box-shadow: 0;
  font-size: 18px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #fff;
  border: 2px solid #8792A4;
  height: 15vh;
  width: 20vh;
  margin-bottom: 2vh;
  align-items: center;
  justify-content: center;
  border-radius: 2vh;
}
.step1 .suivant {
  all: unset;
  background-color: #F96750;
  font-size: 18px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #fff;
  border-radius: 2vh;
  width: 20vh;
  padding: 2vh;
  box-shadow: 0;
}

.step2 {
  background-color: #373E4E;
  margin: 2vh;
  padding: 3vh;
  border-radius: 2vh;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.step2 .choices {
  display: flex;
  flex-direction: column;
}
.step2 .choices button {
  display: flex;
  background-color: #373E4E;
  box-shadow: 0;
  font-size: 18px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #fff;
  border: 2px solid #8792A4;
  height: 7vh;
  width: 20vh;
  margin-bottom: 2vh;
  align-items: center;
  justify-content: center;
  border-radius: 2vh;
}
.step2 .disparait {
  display: none;
}
.step2 .inpuuut {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
}
.step2 .inpuuut label {
  margin-bottom: 2vh;
}
.step2 .inpuuut input {
  background-color: #373E4E;
  border: 2px solid #8792A4;
  border-radius: 1vh;
  font-size: 18px;
  padding: 1.5vh;
  color: #fff;
  border: none;
  border: 2px solid #657084;
}
.step2 .inpuuut input:focus {
  outline: none;
  border: 3px solid #fff;
}
.step2 .suivant {
  all: unset;
  background-color: #F96750;
  font-size: 18px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #fff;
  border-radius: 2vh;
  width: 20vh;
  padding: 2vh;
  box-shadow: 0;
}

.step3 {
  background-color: #373E4E;
  margin: 2vh;
  padding: 3vh;
  border-radius: 2vh;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.step3 .choices {
  display: flex;
  flex-direction: column;
}
.step3 .choices button {
  display: flex;
  background-color: #373E4E;
  box-shadow: 0;
  font-size: 18px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #fff;
  border: 2px solid #8792A4;
  height: 15vh;
  width: 20vh;
  margin-bottom: 2vh;
  align-items: center;
  justify-content: center;
  border-radius: 2vh;
}
.step3 .suivant {
  display: none;
}

/*# sourceMappingURL=style.css.map */
